.texto{
  color:#A3A3B4 ;
}



.mat-raised-button{
  color: white;
  position:relative;
  top: -30px;
  width: 1500px;
  left: 00px;
  background-color: #0ED28C;
}

.selector{
  display:inline-block;
}
