.texto{
  color:#A3A3B4;
}

.form{
  width: 100%;
}

.input{
  width:166.5%;
}

.mat-raised-button{
  top:10px;
  width:100%;
  border-color: white;
  border-radius: 0px;
  background-color: #0ED28C;
  color:white;
}
