
.mat-icon-button{
  width:auto;
  margin-right: 10px;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
}


th, td {
  overflow: hidden;
  width: 825px;
  text-overflow: Ellipsis;
  white-space: nowrap;
}

.button-table{
  color:white;
  line-height: 34px;
  position:relative;
  background-color:  #D66464;
  margin-left: 565px;
  width: 150px;
  height: 35px;

}

table {
  position:relative;
  top: -45px;
  width: 100%;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.11);
}
